.MainComponent {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #F2F2F8;

  &__top-app {
    z-index: 1;
  }

  &__main-app {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex: 1 1 auto;
  }

  .button {
    min-width: 256px;
    border: 0;
    outline: none;
    background: #004EDA;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    &:hover {
      background: #FFFFFF;
      border: 1px solid #004EDA;
      color: #004EDA;
      cursor: pointer;
    }
  }

  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
  }


  th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
  }

  td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
  }

  tr:hover td {
    color: #6699ff;
  }

  @import "../Header/Header.scss";
  @import "../AppNavigation/AppNavigation.scss";
  @import "../SelectMenuItemComponent/SelectMenuItem.scss";
  @import "../HomePageComponent/HomePage.scss";
  @import "../ProfilePageComponent/ProfilePage.scss";
}